body {
  font-family:Calibri;
  text-align:center;
  vertical-align:middle;
  background:#2D3338;
  color:white;
  text-weight: bold;
}

h1{
  color:white;
  text-shadow:3px 3px 5px black;
  font-size:45px;
}

 a{       
            padding-top: 30px;
            padding-bottom: 30px;
            display:inline-block;
            border:1px solid #363B41;
            background-color:#363B41;
            padding:10px 12px;
            box-shadow:2px 2px 5px black;
            text-decoration:none;
            border-radius:3px;
            color:white;
            height:20px;
            width:150px;
            text-shadow:2px 2px 5px #2b2b2b;
            text-align:middle;
            text-weight: bold;
        }
        a:hover{
            border:1px solid #64b0b5;
            background-color:#64b0b5;
        }
        a:active{
            border:1px solid #64b0b5;
            background-color:#64b0b5;
        }
